APP_NAME = Flavors

BASE_BUNDLE_IDENTIFIER = com.TheAlienMann.Flavors

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

//PRIMARY_APPICON_SET_NAME = AppIcon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon;
//ASSETCATALOG_COMPILER_PRIMARY_APPICON_SET_NAME = AppIcon

//BASE_URL = some.base.url

//API_KEY = some.api.key
