#include "Base.xcconfig"

APP_NAME = $(inherited)-Staging

//PRIMARY_APPICON_SET_NAME = $(inherited)-NonProd
ASSETCATALOG_COMPILER_APPICON_NAME = $(inherited)-NonProd
//ASSETCATALOG_COMPILER_PRIMARY_APPICON_SET_NAME = $(inherited)-NonProd

PRODUCT_BUNDLE_IDENTIFIER = $(inherited).staging

//BASE_URL = staging.$(inherited)

//API_KEY = $(inherited) // for the staging, as well, you probably have a different api key, base url too.
